/*@font-face {
font-family: myFirstFont;
src: url(font/font_awesome_4.0.3/fontawesome-webfont.woff);
}
body {
font-family: myFirstFont;
}*/
body {
  background-image: url('images/bg_dots_black.png');
  padding: 0;
  margin: 0;
}

.content {
  width: 100%;
  margin: auto;
  display: block;
}

.navigation-bar {
  height: 70px;
  display: block;
}

.navigation-bar{
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
}

.navigation-logo {
  float: left;
  position: relative;
  top: 20px;
}

.navigation {
  float: right;
}

.promo-banners {
  background-image: url("images/main_slider/promo_banner_1/banner_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100% !important;
  height: 1070px !important;
}

.promo-banners .banner-one .base-border {
  position: relative;
  top: 150px;
}

.main-slider-info-table {
  height: 1070px;
width: 771px;
position: absolute;
top: 0px;
}

.main-slider-info {
  width: 80%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
}

.main-slider-info h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.main-slider-info-sepparator {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.main-slider-info p {
  font-size: 16px;
}

.promo-banners .plus-button-one {
  width: 107px;
  margin: auto;
}
